 div{
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: sans-serif;
     width: 100%;
     height: 100vh; /*look over here to create
     different divs with varying heights */
 }

 /* h3{
     font-size: 30px;
     background: #eee;
     padding: 8px 24px;
     border-radius: 16px;
 } */

 .button1{
     background: rgb(238, 238, 238, 0.8); /*add to the document why you chose rgb insteead of hex (opacity)*/
     font-size: 20px;
     width: 20%;
     max-width: 145px; /* prevents the button from getting too big */
     min-width: 120px; /* prevents the button from getting too small */
     height: 40px;
     margin: 40px 0px 300px 65px;
     border-radius: 5px;
     /* might need to add overflow, transform, position vales */
     border: none;
 }

 .setup{
     width: 100%;
 }

 #intro{
     background-image: url(https://i.insider.com/55775c1e6bb3f76056e55ae8?width=750&format=jpeg&auto=webp);
     background-size: cover;
     background-attachment: fixed;
     position: relative;
     font-weight: 300;
     font-size: 14px;
     font-family: sans-serif;
 }

 .text{
     font-family: sans-serif;
     color: white;
     font-weight: normal;
     letter-spacing: 1px;
     /* width: xxpx; change this value by experimenting 
     min-width: experiment with this value; */
 }

 .firstText{
     /*margin: play with this value*/
     text-align: center;
 }
/* 
div:nth-child(1){
    background-image: url(https://i.insider.com/55775c1e6bb3f76056e55ae8?width=750&format=jpeg&auto=webp);
    background-size: cover;
    background-attachment: fixed;
}

div:nth-child(2){
    background: maroon;
}

div:nth-child(3){
    height:400px;
    background-image: url(https://i.insider.com/55775c1e6bb3f76056e55ae8?width=750&format=jpeg&auto=webp);
    background-attachment: fixed;
    background-size: cover;
}

div:nth-child(4){
    background: green;
} */

